# Python
__pycache__/
*.pyc

# Django
db.sqlite3
db.sqlite3.old
db.sqlite3.backup
*.sqlite3
staticfiles/
media/
# Virtualenv
venv/
env/
# IDE
.vscode/
.idea/
# System
.DS_Store
# Logs
*.log
# Gunicorn
gunicorn.sock
# Dumps
data.json
.env
