{% extends 'employees/dashboard.html' %}

{% block title %}
    Add Task for {{ rolesow.name }}
{% endblock %}

{% block dashboard_content %}
<style>
    .form-container {
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        text-align: center;
        color: #111111;
        margin-bottom: 20px;
    }

    .form-container label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .form-container input[type="text"], .form-container textarea, .form-container select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .form-container button {
        width: 100%;
        padding: 10px;
        background-color: #cc1939;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-container button:hover {
       background: linear-gradient(135deg, #cc1939, #f36c7a);
    }
    a.back-link {
            display: block;
            margin-top: 25px;
            text-decoration: none;
            color: #cc1939;
            text-align: center;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            transition: all 0.25s ease;
        }

        a.back-link:hover {
            color: #cc1939;
            text-decoration: underline;
            transform: translateY(-1px);
        }
</style>

<div class="form-container">
    <h2>Add Task to {{ rolesow.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Task</button>
    </form>
    {% if is_employee_view %}
    <a class="back-link" href="{% url 'employee_configure_tasks' %}">
        Back
    </a>
{% else %}
    <a class="back-link" href="{% url 'configurables_role_details' rolesow.id %}">
        Back to Role
    </a>
{% endif %}
</div>
{% endblock %}